default:
  image: python:3.12
  tags:
     # For now ci.inria.fr machine have issue compiling avx2/avx512
     # Use pinocchio as a runner
     - pinocchio.inrialpes.fr
#    # Allocate medium shared (2xCPU 4GB)
#    - ci.inria.fr
#    - medium
  before_script:
    - df -h .
    - free -h
    - lscpu
    - env
    - python --version
    - pip list

variables:
  TWINE_USERNAME: gitlab-ci-token
  TWINE_PASSWORD: $CI_JOB_TOKEN
  PYPI_REPOSITORY_URL: $CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/pypi


test-xtc:
  stage: test
  script:
    - echo "machine gitlab.inria.fr login gitlab-ci-token password $CI_JOB_TOKEN" >"$HOME"/.netrc
    - pip3 install -e .[dev]
    - pip3 install -r mlir_requirements.txt
    - pip3 install -r tvm_requirements.txt
    - pip3 install -r jir_requirements.txt
    - pip list
    - lit tests/filecheck
    - pytest tests
    - scripts/explore/run-explore-variants.sh artifacts/explore/
    - env NOSHOW=1 scripts/explore/display-explore-variants.sh artifacts/explore/
  artifacts:
    paths:
      - artifacts/

deploy-xtc:
  stage: deploy
  rules:
    - if: $CI_COMMIT_TAG =~ /^xtc-v/
  script:
    - python3 -m pip install twine==6.1.0 build==1.2.2
    - python3 -m build .
    - twine upload --repository-url "$PYPI_REPOSITORY_URL" --skip-existing dist/*.whl
  artifacts:
    paths:
      - dist/
