pages:
  image: python:3.12
  tags:
    - pinocchio.inrialpes.fr
#    - ci.inria.fr
#    - small
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  script:
    - mkdir public
    - echo "<html><body>Work In Progress</title></html>" > public/index.html
  artifacts:
    paths:
      # The folder that contains the files to be exposed at the Page URL
      - public
