[project]
name = "mlir_loop"
version = "0.1"
dependencies = ['matplotlib', 'numpy', 'ordered-set', 'py-cpuinfo', 'tqdm', 'typing_extensions', 'pyyaml']

[tool.setuptools]
platforms = ["Linux"]
zip-safe = false

[tool.setuptools.package-data]
mlir_loop = ["py.typed"]

[project.scripts]
mlir-loop = "mlir_loop:main"
loop-display = "display_results:main"
loop-explore = "explore:main"

[build-system]
requires = ["setuptools>=61", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pyright]
reportImportCycles = false
reportUnnecessaryIsInstance = false
reportMissingTypeStubs = false
typeCheckingMode = "strict"
