[project]
name = "mlir_loop"
version = "0.1"
dependencies = ['jinja2', 'matplotlib', 'numpy', 'ordered-set', 'py-cpuinfo', 'tqdm', 'typing_extensions', 'pyyaml','lit','filecheck','xdsl~=0.26.0']
requires-python = ">=3.10"

[project.optional-dependencies]
dev = [
    "filecheck",
    "lit",
    "pytest",
]

[tool.setuptools]
platforms = ["Linux"]
zip-safe = false

[tool.setuptools.package-data]
mlir_loop = ["py.typed"]

[project.scripts]
mlir-loop = "mlir_loop:main"
backend = "backend:main"
loop-display = "display_results:main"
loop-explore = "explore:main"

[build-system]
requires = ["setuptools>=61", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pyright]
include = ["src"]
reportMissingParameterType = "error"
reportMissingTypeArgument = "error"
reportImplicitOverride = "error"
reportUninitializedInstanceVariable = "error"
reportPossiblyUnboundVariable = "error"
reportIncompatibleVariableOverride = "error"
reportIncompatibleMethodOverride = "error"
reportArgumentType = "error"
reportReturnType = "error"
reportAbstractUsage = "error"
reportUnusedImport = "error"