[project]
name = "xtc"
version = "0.1.dev1"
dependencies = ['jinja2', 'matplotlib', 'numpy', 'ordered-set', 'py-cpuinfo', 'tqdm', 'typing_extensions', 'pyyaml','lit','filecheck','xdsl~=0.26.0']
requires-python = ">=3.10"

[project.optional-dependencies]
dev = [
    "filecheck",
    "lit",
    "mkdocs",
    "mkdocs-material",
    "mkdocstrings-python",
    "mypy",
    "pytest",
    "pyright",
]

[tool.setuptools]
platforms = ["Linux"]
zip-safe = false

[tool.setuptools.package-data]
xtc = [
    "py.typed",
    "csrcs/**",
    "templates/**",
]

[project.scripts]
mlir-loop = "xtc.cli.mlir_loop:main"
mlir-backend = "xtc.cli.mlir_backend:main"
loop-display = "xtc.cli.display_results:main"
loop-explore = "xtc.cli.explore:main"

[build-system]
requires = ["setuptools>=64", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pyright]
pythonVersion = "3.10"
include = ["src/xtc/itf", "src/xtc/backends"]
reportMissingParameterType = "error"
reportImplicitOverride = "error"
reportUninitializedInstanceVariable = "error"
reportPossiblyUnboundVariable = "error"
reportIncompatibleVariableOverride = "error"
reportIncompatibleMethodOverride = "error"
reportArgumentType = "error"
reportReturnType = "error"
reportAbstractUsage = "error"
# Those are too strict
#reportMissingTypeArgument = "error"
#reportUnusedImport = "error"

[tool.mypy]
python_version = "3.10"
packages = ["xtc.itf", "xtc.backends"]
ignore_missing_imports = true
